<h1 mat-dialog-title>Resultado</h1>

<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-content *ngIf="cuntLementos == 0; else preguntas">
      <mat-card-title>No a Respondio las pregunta </mat-card-title>
    </mat-card-content>

    <ng-template #preguntas>
      <mat-card-content>
        <div *ngFor="let item of listarRespuestas">
          <mat-card-title>{{ item.pregunta }}</mat-card-title>
          <mat-card-subtitle
            ><mat-icon [fontIcon]="item.respuesta ? 'done' : 'close'">
            </mat-icon>
            {{ item.seleccion }}
          </mat-card-subtitle>
        </div>
      </mat-card-content>
    </ng-template>
  </mat-card>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
