


 

        <div class="container-fuld row justify-content-md-center  mt-0  " > 
                <mat-toolbar color="primary" >
                    <span>Juego de preguntas</span>
            </mat-toolbar>


 <div class=" ">
    <mat-card-content class="col-md-12  ">
                <router-outlet ></router-outlet>

        </mat-card-content>
 </div>
        



           



           

        </div>

       

