<div class="col-md-8 mx-auto mt-3 animarBox">
  <!-- <div class="col-2"></div> -->
  <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="'200'">
    <mat-step *ngFor="let item of listarpreguntas$ | async">
      <!--<mat-step [stepControl]="1">--->
      <form>
        <ng-template matStepLabel> {{ item.pregunta }}</ng-template>
        <div class="d-flex flex-wrap">
          <mat-button-toggle-group #toggleGroup class="contenedorbox">
            <mat-button-toggle
              #toggles
              [value]="itemoption.resp"
              (click)="
                calificar(
                  item.id,
                  item.pregunta,
                  itemoption.resp,
                  itemoption.valor
                );
                stepper.next()
              "
              *ngFor="let itemoption of item.opciones"
              class="button-toggle"
              [value]="itemoption.resp"
            >
              <div class="col-6 col-sm-12 width-box">
                {{ itemoption.valor }}
              </div>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Califircar</ng-template>

      <div>
        <button
          mat-button
          (click)="stepper.reset(); resetRespuestas(); resetToggle()"
        >
          Restablecer
        </button>
        <button mat-button (click)="openDialog()">Calificar</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
