@keyframes animacionEntrada {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animarBox {
  animation: animacionEntrada 1s ease-out;
}

.example-input-wrapper {
  margin-bottom: 16px;
}

label {
  margin-right: 4px;
}

.width-box {
  text-align: left;
}

.contenedorbox {
  overflow-x: auto;
  white-space: nowrap;
}
